<input type="text" [value]="dis">
<br>
<button (click)="butonclick('9')">9</button>
<button (click)="butonclick('8')">8</button>
<button (click)="butonclick('7')">7</button>
<button (click)="multification('*')">*</button>
<br>
<button (click)="butonclick('6')">6</button>
<button (click)="butonclick('5')">5</button>
<button (click)="butonclick('4')">4</button>
<button (click)="division('/')">/</button>
<br>
<button (click)="butonclick('3')">3</button>
<button (click)="butonclick('2')">2</button>
<button (click)="butonclick('1')">1</button>
<button (click)="adding('+')">+</button>
<br>
<button (click)="butonclick('.')">.</button>
<button (click)="butonclick('0')">0</button>
<button (click)="subtraction()">-</button>
<button (click)="equala('=')">=</button>
